/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

/* Basic /////////////////////////////////////////////////*/
:root {
    --primary-color: #f2f2f2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.navbar h1 {
    font-weight: 1000;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}
/* Basic /////////////////////////////////////////////////*/

/* Navbar ////////////////////////////////////////////////*/
.navbar {
    background-color: white;
    color: #282828;;
    height: 70px;
}

.navbar ul {
    display: flex;
    font-size: 1.4rem;
    font-weight: 1000;
}
.navbar a {
    color: #282828;;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #282828 solid;
    
}

.navbar .flex {
    justify-content: space-between;
}

.navbar h1 {
    margin-right: 140px;
}

svg {
    margin-top: 10px;
}

/* Showcase */
.showcase {
    margin: 100px 0 ;
}
.showcase-text {
    text-align: center;
}
.showcase-text h1{
    font-size: 50px;
}
.showcase-text p{
    font-size: 20px;
    font-weight: 400;
}
.showcase a{
    text-align: center;
}

/* Utilities */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    /* overflow: auto; */
}

.flex {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    height: 100%;
}

/* Content */
/* .even-columns .col{
    max-width: 350px;
} */
/* .even-columns { */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    
/* } */
/* .even-columns > * { */
    /* flex grow shrik basis */
    /* flex: 0 1 22em; */
/* } */

.child01-child01-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.child01-child01-content img {
    width: 33%;
    margin: 2px auto;
}



